platforms/ios/www/
platforms/android/assets/www/
platforms/android/CordovaLib/ant-build/
platforms/android/CordovaLib/ant-gen/
platforms/android/ant-gen/
platforms/android/ant-build/
platforms/android/res/xml/config.xml
