<?xml version='1.0' encoding='utf-8'?>
<widget id="org.greeninfo.mobilemapstarter" version="1.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MobileMapStarter</name>
    <description>
        A starting framework for mobile maps using Cordova/Phonegap. A minimal but functional, standalone mobile app from which to build your own creations.
        For more information, see the Github repository https://github.com/gregallensworth/MobileMapStarter
    </description>
    <author href="http://www.greeninfo.org/" email="gregor@greeninfo.org">
        Greg Allensworth @ GreenInfo Network
    </author>

    <!-- the starting view page -->
    <content src="index.html" />

    <!-- allow HTTP downloads, e.g. for map tiles -->
    <access origin="*" />

    <preference name="splashscreen" value="splash" />
    <preference name="splashscreendelay" value="3000" />

    <!-- Apple Store compliance: do not backup our created files; still need to setMetadata() though -->
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="BackupWebStorage" value="none" />
</widget>
