html {
    margin:0; padding:0; width:100%; height:100%;
}

body {
    margin:0; padding:0; width:100%; height:100%;
}

h1 {
    text-align:center;
}

.leaflet-control-settings {
    position:absolute;
    right:10px;
    top:10px;

    width:19px; height:19px;

    padding: 5px;
    background: rgba(0, 0, 0, 0.25);

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.leaflet-control-settings img {
    width:19px; height:19px;
}
