/*
 * PAGE LAYOUT & ELEMENTS
 */

html {
    margin:0; padding:0; width:100%; height:100%;
}

body {
    margin:0; padding:0; width:100%; height:100%;
}

h1 {
    text-align:center;
}

/*
 * FOR THE MAP PAGE
 * tip: lie about the width & height just so the map can initialize, resizeMapIfVisible() fixes this later
 */

#page-map div[data-role="content"] {
    padding:0;
}
#map_canvas {
    height:300px;
    width:100%;
}

